@use "../../abstracts" as *;
/* ======================  Change-password Start  ======================*/

.change-password {
    .title {
        font-size: #{clampCal(14px,22px)};
        font-weight: 500;
        line-height: 120%;
        margin-bottom: 20px;
        margin-bottom: 13px;

        @include msm-screen {
            margin-bottom: 10px;
        }
    }



    .form-group {
        margin-bottom: 0;

        &:not(:last-of-type) {
            margin-bottom: 10px;
        }
    }

    .password-field {
        width: 100%;
    }

    .form--control {
        width: 100%;
        background-color: hsl(var(--black-dark));
    }

    .reset-pass {
        margin-top: var(--space20);

        @include md-screen {
            width: 100% !important;
        }
    }
}

/* ======================  Change-password End  ======================*/