@use "../abstracts" as *;

/* ======================  Offcanvas Start  ======================*/
.offcanvas {
    background-color: hsl(var(--black-dark));
    padding: 20px;

    &-title {
        color: hsl(var(--white));
    }
}

/* Target your offcanvas body */
.offcanvas-body {
    scrollbar-width: thin;
    scrollbar-color: hsl(var(--black-dark)) hsl(var(--black-light-ultra));
}

.offcanvas-body::-webkit-scrollbar {
    width: 8px;
}

.offcanvas-body::-webkit-scrollbar-track {
    background: hsl(var(--accent));
    border-radius: 8px;
}

.offcanvas-body::-webkit-scrollbar-thumb {
    background: hsl(var(--accent));
    border-radius: 8px;
}

.offcanvas-body::-webkit-scrollbar-thumb:hover {
    background: hsl(var(--accent));
}

/* ======================  Offcanvas End  ======================*/