@use "../abstracts" as *;

/* ======================  Mobile-menu Start  ======================*/
.mobile-menu {
    position: fixed;
    width: 100%;
    height: 56px;
    left: 0;
    bottom: 0;
    z-index: 100;
    padding: 8px 14px;
    background-color: hsl(var(--black-standard));
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mobile-menu__link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    color: hsl(var(--white));
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    flex-direction: column;
    text-align: center;
    flex: 1;
    min-width: 56px;

    &.active {
        color: hsl(var(--accent));
    }

    .text {
        font-size: 12px;
        color: hsl(var(--white));
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;

        @include sm-screen {
            font-size: 10px;
        }

        @include xxsm-screen {
            font-size: 8px;
        }
    }

    &.center-item {
        margin-top: -27px;

        .icon {
            width: 50px;
            height: 50px;
            border-radius: 40px;
            background: linear-gradient(100deg, hsl(var(--base)) 0%, hsl(var(--base-dark)) 97.49%);
            box-shadow: 0 -6px 12px 0 hsl(var(--black)/0.2), 0 -2px 0 0 hsl(var(--black)/0.2) inset, 0 2px 0 0 hsl(var(--white)/0.25) inset;
            display: flex;
            align-items: center;
            justify-content: center;
            color: hsl(var(--black-standard));

            svg {
                width: 24px;
                height: 24px;
            }
        }
    }
}

/* ======================  Mobile-menu End  ======================*/